.container {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  height: 100vh;
}

.header {
  /* position: fixed;  */
  top: 0;
  width: 100%;
  z-index: 1000;
}

.main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
  flex: 1; /* Занимает оставшееся пространство */
  /* padding: 20px; Отступы для контента */
  overflow-y: auto; /* Прокрутка, если контент превышает высоту */
}
