.account-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-page__heading {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #9c5856;
}

.account-page__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding: 50px;
}

.account_page__photo-container {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
}

.account_page__photo {
  max-width: 200px;
  height: 150px;
  object-fit: contain;
  background-color: #9c5856;
}

.account_page__input {
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #9c5856;
  border-radius: 5px;
  padding: 10px;
  background-color: #f0f8ff;
  color: #9c5856;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.account_page__input:hover {
  background-color: #b3a2a2;
}

.account_page__input input[type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.account_page__values-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 325px;
}

.account-page__value,
.account-page__value-edit {
  display: flex;
  gap: 15px;
}

.account-page__value-edit {
  justify-content: space-between;
  display: flex;
  gap: 15px;
}

.account_page__no-info {
  color: #978a8a;
}

.account_page__button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.account_page__button {
  max-width: 215px;
  cursor: pointer;
  border: 2px solid #9c5856;
  border-radius: 5px;
  padding: 10px;
  background-color: #f0f8ff;
  color: #9c5856;
  font-family: 'Mulish', serif;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.account_page__button:hover {
  background-color: #b3a2a2;
}
